<form method="POST" action="/ratings/save" enctype="multipart/form-data">
    <input type="text" name="Title">
    <input type="file" name="Image">
    <input type="number" name="Rating">
    <button type="submit" class="btn btn-warning">Save!</button>
</form>